<article class="blog-card none flexbox" style="background-image: url({{ if .Params.cover }}{{ .Params.cover }}{{ else }}/img/default{{ index (shuffle (seq 1 6)) 0 }}.jpg{{ end }})">
<img class="image" src="{{ if .Params.cover }}{{ .Params.cover }}{{ else }}/img/default{{ index (shuffle (seq 1 6)) 0 }}.jpg{{ end }}"></img>
<div class="title-content twemoji">
	<h3><a class="title" href={{ .Permalink }}>{{ .Title }}</a></h3>
	<div class="intro twemoji">{{ if isset .Params "description" }}{{ .Params.description | emojify  | markdownify }}{{ else }}<br><br>{{ end }}</div>
</div>
<div class="utility-info">
	<ul class="utility-list">
		{{ if .Site.DisqusShortname }}
		<div><i class="comment icon"></i><span class="disqus-comment-count" data-disqus-identifier="{{ .UniqueID }}"></span></div>
		{{ end }}
		<div><span><i class="calendar icon"></i>{{ .Date.Format "Jan 2, 2006" }}</span></div>
		<div><span><i class="clock icon"></i>{{ .ReadingTime }} min read</span></div>
	</ul>
</div>
<div class="color-overlay"></div>
</article>
