li > img {
    margin-top: 1em;
    margin-bottom: 1em;
}
p > img, li > img {
    -webkit-box-shadow: 3px 3px 27px -5px rgba(0,0,0,0.62);
    -moz-box-shadow: 3px 3px 27px -5px rgba(0,0,0,0.62);
    box-shadow: 3px 3px 27px -5px rgba(0,0,0,0.62);
    margin-top: 1em;
    margin-bottom: 1em;
}

article.post-content pre {
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 0.2em;
  line-height: 1.5;
  font-size: 0.7em;
  background-color: #ccc6;
  border: 0.05em solid #00000033;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 30em;
}
article.post-content pre>code {
  background-color: #ccc0;
  border: 0px;
}

.ui.secondary.segment{
  background-color: #ececece8;
}

::-webkit-scrollbar{
  display:none;
}

div ::-webkit-scrollbar{
  display:unset;
}

article.post-content code{
  font-size: 0.7em;
  vertical align: 0.1em;
  border-radius: 0.2em;
  background-color: #ccc6;
  border: 0.05em solid #00000033;
  padding-left: 0.2em;
  padding right: 0.2em;
}

article.post-content p {
  font-size: 1.1rem;
}

header.ui.inverted.segment{
  padding-top: 20px !important;
  padding-bottom: 0px !important;
}

.ui.inverted.segment{
  background-color: #1b1c1ded;
}

html {
  overflow-x: hidden;
}

.flip-container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

.emoji {
    height: 1em;
    width: 1em;
    vertical-align: -0.15em !important;
    margin-top: 0em;
    margin-bottom: 0em;
}

.ui.secondary.menu {
  margin-left: 0;
  margin-right: 0;
}

.ui.grid {
  margin-left: 0;
  margin-right: 0;
}

.flip-container {
  height: 100vh;
}

.flip-container.flip-it .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper {
  -webkit-transition: 0.8s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.8s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.8s;
  -o-transform-style: preserve-3d;
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container .front,
.flip-container .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.flip-container .front {
  z-index: 2;
  transform: rotateY(0deg);
}

.flip-container .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.ui.cards .card .image {
  height: 100%;
}

.ui.cards .card .image img {
  height: 100%;
}

.post-list {
  overflow-y: auto;
}

a.ui.label {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .dream-tags,
  .dream-categories {
    display: none;
  }

  #tag-category-pop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  #tag-category-pop {
    display: none;
  }
}

.about {
  height: calc(100vh - 50px - 28px);
  overflow-y: scroll;
}

.post-content img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent
}

.post-content strong {
  color: rgba(0, 0, 0, .7);
}

.post-content blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 10px;
}

.post-content blockquote p {
  display: inline;
}

.post-content code {
  background: #ccc;
  padding: .2em .5em;
}

article.post-content ul li {
  font-size: 1.1rem;  
}

.post-content ul li {
  padding: .21em 0;
  line-height: 1.2em;
}
