<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
<title> {{- block "title" . -}}{{ .Site.Title }}{{- end -}}</title>
	{{ partial "head.html" . }}
	{{ partial "init_head.html" . }}
</head>

<body>
	<div class="bg">{{ partial "background.html" . }}</div>
	<div class="blur-overlay"></div>
	{{ partial "sidebar.html" . }}
	<div class="pusher">
		<div class="flipper">
			<div class="front">
				{{ block "frontmenu" . }} {{ end }} {{ block "main" . }} {{ end }}
			</div>
			<div class="back">
				{{ partial "flip.html" . }}
			</div>
		</div>
	</div>
	</div>
	{{ partial "init_body.html" . }}
	{{ partial "shortest.html" . }}
	{{ partial "twemoji.html" . }}
	{{ partial "anchor.html" . }}
</body>

</html>
