<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> {{- block "title" . -}}{{ .Site.Title }}{{- end -}}</title>
	{{ partial "init.html" . }}
	{{ partial "head.html" . }}
</head>

<body>
	{{ partial "sidebar.html" . }}
	<div class="bg">{{ partial "background.html" . }}</div>
	<div class="pusher">
	<div class="flipper">
		<div class="front">
			{{ block "frontmenu" . }} {{ end }} {{ block "main" . }} {{ end }}
		</div>
		<div class="back">
			{{ partial "flip.html" . }}
		</div>
	</div>
	</div>
	</div>
	{{ if .Site.Params.twitterEmoji }}{{ partial "twemoji.html" . }}{{ end }}
	{{ if .Site.Params.enableShortest }}{{ partial "shortest.html" }}{{ end }}
</body>

</html>
