{{ define "title" }}
{{ if eq .Data.Singular "tag" }}
{{ humanize (i18n "tag") }} | {{ humanize .Data.Term }}
{{ else if eq .Data.Singular "category" }}
{{ humanize (i18n "category") }} | {{ humanize .Data.Term }}
{{ else }}{{ end }}
{{ end }}

{{ define "frontmenu" }}
{{ partial "nav.html" . }}
{{ end }}

{{ define "main"}}
<div class="ui centered grid">
  <div class="sixteen wide mobile fifteen wide tablet four wide computer column">

    {{ partial "header.html" . }}

  </div>
  <div class="sixteen wide mobile fifteen wide tablet eleven wide computer column post-list">
    <div class="ui two stackable cards">
      {{ partial "pagination.html" . }}
    </div>
  </div>

</div>
{{ end }}
