{{/*Title*/}}
{{ define "title" }}
	{{ i18n .Data.Singular | humanize }} | {{ .Data.Term }}
{{ end }}

{{/*Content*/}}
{{ define "content"}}
	{{ partial "nav.html" (dict "context" . "rssButton" true "type" "") }}
	
	<div class="ui centered grid">
		<div class="fifteen wide mobile fifteen wide tablet four wide computer column">
			{{ partial "header.html" . }}
		</div>
		
		<div class="fifteen wide mobile fifteen wide tablet eleven wide computer column post-list">
			<div class="cards row box">
				{{ $paginator := .Paginate (where .Data.Pages "Type" $.Site.Params.contentType) }}
				{{ range $paginator.Pages }}
					{{ .Render "summary" }}
				{{ end }}
			</div>
		</div>
	</div>
{{ end }}
