	<header class="ui inverted segment">
<h2 class="ui header">
          {{ if .Site.Params.aboutHeader }}
          {{- .Site.Params.aboutHeader -}}
          {{ else }}
          {{- i18n "aboutHeader" -}}
          {{ end }}
        </h2>
        </header>
	<article id = "abt" class="ui inverted segment">
        	{{ if (fileExists "/content/about.md") }}
        	{{ readFile "/content/about.md" | markdownify | emojify }}
        	{{ else }}
        	{{ range $.Site.Data.about.desc }}
          		<p>{{ . | safeHTML | emojify }}</p>
        	{{ end }}
        	{{ end }}
	</article>