{{/*Social bar*/}}
{{ partial "social.html" . }}

{{/*Content*/}}
<div class="ui centered grid about">
	<div class="sixteen wide mobile fifteen wide tablet fifteen wide computer column about">
		<section class="ui stacked segments">
			<div class="ui inverted segment">
				<article class="twemoji">
					{{ readFile "/content/about.md" | markdownify | emojify }}
				</article>
				
				{{ with $.Site.Params.copyright }}
					<br><hr>
					{{ $license := index $.Site.Params.copyright 0 }}
					{{ $statement := index $.Site.Params.copyright 1 }}
					{{ partial "copyright.html" (dict "license" $license "statement" $statement) }}
				{{ end }}
			</div>
		</section>
	</div>
</div>
