{{/*Load basic CSS*/}}
<link rel="stylesheet" type="text/css" href="/css/site.css">

{{/*Load syntax highlighting CSS, if present*/}}
{{ if fileExists "static/css/highlight.css" }}
	<link rel="stylesheet" type="text/css" href="{{ `/css/highlight.css` }}">
{{ end }}

{{/*Load custom CSS*/}}
{{ range $val := $.Site.Params.features.customCSS }}
	{{ if gt (len $val) 0 }}
		<link rel="stylesheet" type="text/css" href="{{ $val }}">
	{{ end }}
{{ end }}

{{/*Override Semantic UI*/}}
<style>
	body.pushable {
		display: block;
		{{ with $.Site.Params.background.colorBG }}
			background: linear-gradient(to right, var(--colorBG)) !important;
		{{ else }}
			background-image: var(--bgImage) !important;
		{{ end }} ;
	}
</style>
