<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
<style>
body.pushable {
	display: block;
	{{- if .Site.Params.enableColorBG -}}
		background: linear-gradient(to right, var(--colorBG)) !important;
	{{ else }}
		background-image: var(--bgImage) !important;
	{{ end }} ;
}
</style>
<link rel="stylesheet" type="text/css" href="/css/site.css">
{{- if and (fileExists "static/css/highlight.css") .IsPage -}}
	<link rel="stylesheet" type="text/css" href="/css/highlight.css">
{{- end -}}
{{- range $type, $val:= .Site.Params.customCSS -}}
{{- if and ((gt (len $val) 0) (index $val "")) -}}
	<link rel="stylesheet" type="text/css" href="/{{ index $val }}">
{{- end -}}
{{- end -}}