<nav class="ui top secondary menu bar">
	<div class="item">
		<i class="inverted big link bullseye icon dream-flip-toggle" title="{{ i18n "flip" }}"></i>
	</div>
	{{ partial "social.html" . }}
</nav>

<div class="ui centered grid about">
	<div class="sixteen wide mobile fifteen wide tablet fifteen wide computer column about">
		<section class="ui stacked segments">
			{{ partial "about.html" . }}
		</section>
	</div>
</div>

<script>
	$('.dream-flip-toggle').click(function () {
		var target = $('.pusher')
		if (dreamBodyBgSwitchIndex === 0) {
    		{{ if .Site.Params.enableColorBG }}
    	 		setBackground(dreamBody, dreamBodyBgSwitch[1])
    	 	{{ end }}
			dreamBodyBgSwitchIndex = 1
			target.toggleClass('flip-it')
			setTimeout( function () {
				$('.front').css('display','none')
				$('.back').css('display','block')
			}, 300)	
	 	}
    	else {
    		{{ if .Site.Params.enableColorBG }}
    			setBackground(dreamBody, dreamBodyBgSwitch[0])
    		{{ end }}
     		dreamBodyBgSwitchIndex = 0     	
     		target.toggleClass('flip-it')
     		setTimeout( function (){
     			$('.front').css('display','block')
				$('.back').css('display','none')
			}, 300)
		}
	})
</script>
