<div id="header" class="ui inverted segment">
	<div class="ui inverted accordion">
		{{ partial "author.html" . }}
		<div class="title">
			{{ if or (.Site.Params.enableCategories)  (.Site.Params.enableTags) }}
			<div id="tag-category-pop" class="ui red right corner label">		
				<i class="link pointing down icon" title="{{ i18n "clickToPopTagsAndCategories" }}"></i>		
			</div>
			{{ end }}
		</div>
		<div id="tag-category" class="content active">
			{{ if .Site.Params.enableTags }}
			{{ if .Site.Taxonomies.tags }}
			<section class="ui attached center aligned inverted segment dream-tags">
				{{ partial "tags.html" . }}
			</section>
			{{ end }}
			{{ end }}
			{{ if .Site.Params.enableCategories }}
			{{ if .Site.Taxonomies.categories }}
			<section class="ui attached inverted segment dream-categories">
				{{ partial "categories.html" . }}
			</section>
			{{ end }}
			{{ end }}
		</div>
		{{ partial "footer.html" . }}
	</div>
</div>
