<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/css/site.css">
{{ if and (fileExists "static/css/highlight.css") .IsPage }}
	<link rel="stylesheet" type="text/css" href="/css/highlight.css">
{{ end }}
{{ range $type, $val:= .Site.Params.customCSS }}
	{{ if and ((gt (len $val) 0) (index $val "")) }}		 
		<link rel="stylesheet" type="text/css" href="/{{ index $val }}">
	{{ end }}
{{ end }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/site.js"></script>
{{ range $type, $val:= .Site.Params.customJS }}
	{{ if and ((gt (len $val) 0) (index $val "")) }}
		<script src="/{{ index $val }}"></script>
	{{ end }}
{{ end }}

<!--JS variable initializations-->
<script>
	var enabledPost={{ if eq $.Site.Params.contentType "post" }}true{{ else }}false{{ end }} 
	var colorBG={{ $.Site.Params.enableColorBG }} 
	var enabledDimmer = {{ $.Site.Params.enableDimmer }}
	var shToken={{ .Site.Params.shortestToken }}
	var shDomains={{ .Site.Params.shortestDomains }}    
	var isMobile = ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )
	console.log("The client device is a "+(isMobile?"mobile":"PC")+".")
</script>
