{{ range $type, $val:= .Site.Params.customJS }}
	{{ if and ((gt (len $val) 0) (index $val "")) }}
		<script src="/{{ index $val }}"></script>
	{{ end }}
{{ end }}

{{ range $type, $val:= .Site.Params.customCSS }}
	{{ if and ((gt (len $val) 0) (index $val "")) }}		 
		<link href="/{{ index $val }}" rel="stylesheet">
	{{ end }}
{{ end }}
<script type="text/javascript">
	var enabledPost={{ if eq $.Site.Params.contentType "post" }}true{{ else }}false{{ end }} 
	var colorBG={{ $.Site.Params.enableColorBG }} 
    var enabledDimmer = {{ $.Site.Params.enableDimmer }}
    var shToken={{ .Site.Params.shortestToken }}
    var shDomains={{ .Site.Params.shortestDomains }}
    
    var isMobile = ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )
	console.log("The client device is a "+(isMobile?"mobile":"PC")+".")
		
</script>
