<nav class="ui top secondary menu bar">
	{{/*Flip button*/}}
	<div class="item">
		<i class="inverted big link bullseye icon dream-flip-toggle" title="{{ i18n `flip` }}"></i>
	</div>

	{{/*Home button*/}}
	{{ if not .context.IsHome }}
		<div class="item">
			<a href="/">
				<i class="inverted big link home icon" title="{{ i18n `home` }}"></i>
			</a>
		</div>
	{{ end }}

	{{/*Archive section button*/}}
	{{ if ne .contentType .context.Section }}
		<div class="item">
			<a href="/{{ .contentType }}">
				<i class="inverted big link archive icon" title="{{ i18n `archive` }}"></i>
			</a>
		</div>
	{{ end }}

	{{/*Tags section button*/}}
	{{ if and (ne .context.Data.Plural "tags") .context.Site.Params.tags.enabled }}
		<div class="item">
			<a href="/tags">
				<i class="inverted big link tags icon" title="{{ i18n `tag` 1 }}"></i>
			</a>
		</div>
	{{ end }}

	{{/*Categories section button*/}}
	{{ if and (ne .context.Data.Plural "categories") .context.Site.Params.categories.enabled }}
		<div class="item">
			<a href="/categories">
				<i class="inverted big link cubes icon" title="{{ i18n `category` 1 }}"></i>
			</a>
    	</div>
	{{ end }}

	{{/*Navigation buttons*/}}
	{{ if or .context.IsHome (eq .context.Kind "taxonomyTerm") }}
		{{ $paginator := .context.Paginate (where .context.Site.RegularPages "Section" .contentType) }}
		<div class="item">
			{{ if .context.Paginator.HasPrev }}
				<a href="{{ $paginator.Prev.URL }}">
					<i class="inverted big link chevron circle left icon" title="{{ i18n `prevPage` }}"></i>
				</a>
			{{ else if .context.Paginator.HasNext }}
				<i class="disabled inverted big chevron circle left icon" title="{{ i18n `prevPage` }}"></i>
	  		{{ end }}
			</div>
		<div class="item">
			{{ if .context.Paginator.HasNext }}
				<a href="{{ $paginator.Next.URL }}">
					<i class="inverted big link chevron circle right icon" title="{{ i18n `nextPage` }}"></i>
				</a>
			{{ else if .context.Paginator.HasPrev }}
				<i class="disabled inverted big chevron circle right icon" title="{{ i18n `nextPage` }}"></i>
			{{ end }}
		</div>
	{{ end }}

	{{/*Sidebar button*/}}
	{{ if .context.IsPage }}
		<div class="ui container tablet computer only grid">
			<div class="item" onClick="$('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');">
				<i class="inverted big link sidebar icon" title="{{ i18n `showSidebar` }}"></i>
			</div>
		</div>
	{{ end }}

	{{/*RSS button*/}}
	{{ if and (eq .contentType "posts") .rssButton }}
		<div class="item right">
			<a href="/posts/index.xml">
				<i class="inverted big link rss icon" title="{{ i18n `rssFeed` }}"></i>
			</a>
		</div>
	{{ end }}
</nav>
