<nav class="ui top secondary menu" style="overflow-x: auto; background-color: #00000066;">
  <div class="item">
       <i id="ico"class="inverted big link bullseye icon dream-flip-toggle" title="{{ i18n "flip" }}"></i>
   </div>
{{ if not .IsHome }}
  <div class="item">
    <a href="/">
      <i id="home-ico" class="inverted big link home icon" title="Home"></i>
    </a>
  </div>
{{ end }}
  {{ if gt (len (where .Site.RegularPages "Section" "==" .Site.Params.contentType)) 0 }}
<div class="item">
    <a href="/{{ .Site.Params.contentType }}">
      <i id="archive-ico" class="inverted big link archive icon" title="{{ i18n "archives" }}"></i>
    </a>
  </div>
  {{ end }}

{{ if .Site.Params.enableTags }}
  <div class="item">
    <a href="/tags">
      <i id="tags-ico"class="inverted big link tags icon" title="{{ i18n "allTags" }}"></i>
    </a>
  </div>
{{ end }}
{{ if .Site.Params.enableCategories }}
  <div class="item">
    <a href="/categories">
      <i id="cat-ico"class="inverted big link cubes icon" title="{{ i18n "allCategories" }}"></i>
    </a>
  </div>
{{ end }}

{{ if not (eq .Section .Site.Params.contentType) }}
{{ $paginator := .Paginate (where .Data.Pages "Type" .Site.Params.contentType ) (index .Site.Params "paginate" | default .Site.Params.itemsPerPage) }}
  <div class="item">
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}">
      <i id="prev-ico" class="inverted big arrow circle outline left icon" title="{{ i18n "prevPage" }}"></i>
    {{ else }}
    <i id="prevd-ico" class="disabled inverted big arrow circle outline left icon" title="{{ i18n "prevPage" }}"></i>
    {{ end }}
  </div>
   <div class="item">
    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}">
      <i id="next-ico" class="inverted big arrow circle outline right icon" title="{{ i18n "nextPage" }}"></i>
    </a>
    {{ else }}	
	<a>
    	<i id="nextd-ico" class="disabled inverted big arrow circle outline right icon" title="{{ i18n "nextPage" }}"></i></a>
 {{ end }}
  </div>
{{ end }}
{{ if .IsPage }}
  <div id="sidebarBtn" class="item" onClick="$('.ui.sidebar') .sidebar('setting', 'transition', 'overlay').sidebar('toggle');">
      <i class="inverted big link sidebar icon" title="Show Sidebar"></i>
  </div>
{{ end }}
</nav>
