<div class="author">
	{{- if .Site.Params.avatar -}}
	<img class="avatar" src="{{ .Site.Params.avatar }}">
	{{ else }}
	{{- .Scratch.Set "avatar" (index (shuffle (seq 1 4)) 0 ) -}}
	<img class="avatar" src="/img/avatar{{ .Scratch.Get `avatar` }}.svg">
	{{ end }}
</div>
<div class="info grow flexbox"> 
	{{- if .Site.Social.twitter -}}
	<a href="https://twitter.com/{{ .Site.Social.twitter }}">
	{{ end }}
	<p class="name">{{ .Site.Params.author }}</p>
	{{- if .Site.Social.twitter -}}
	</a>
	{{ end }}
	<p class="desc">{{ .Site.Params.motto }}</p>		
</div>
<section class="buttons row box">
	<div class="facebook none flexbox" href="#" onclick="window.open(
			'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
			'facebook-share-dialog',
			'width=626,height=436'); return false;">
		<button class="ui facebook button"><i class="facebook icon"></i>Share</button>
	</div>
	<div class="twitter none flexbox" onclick="window.open('https://twitter.com/intent/tweet?text=Read &quot;{{ .LinkTitle }} {{ with .Site.Social.twitter }}&quot; by @{{ . }}{{ end }} {{ .Permalink }}','_self')">
		<button class="ui twitter button"><i class="twitter icon"></i>Tweet</button>
	</div>
</section>
