<div id="sidebar" class="ui sidebar inverted vertical menu left">
	{{ partial "author.html" . }}
	{{ if .Site.Params.enableTags }}
	{{ if .Site.Taxonomies.tags }}
	<section class="ui attached center aligned inverted segment sidebar-dream-tags">
		{{ partial "tags.html" . }}
	</section>
	{{ end }}
	{{ end }}
	{{ if .Site.Params.enableCategories }}
	{{ if .Site.Taxonomies.categories }}
	<section class="ui attached inverted segment sidebar-dream-categories">
		<div class="ui inverted accordion">
			{{ partial "categories.html" . }}
		</div>
	</section>
	{{ end }}
	{{ end }}	
	{{ partial "footer.html" . }}
</div>
