{{ define "frontmenu" }}
	{{ $.Scratch.Set "navRSS" true }}
	{{ partial "nav.html" . }}
{{ end }}

{{ define "main"}}
<div class="ui centered grid">
	<div class="fifteen wide mobile fifteen wide tablet four wide computer column">
		{{ partial "header.html" . }}
	</div>
	<div class="fifteen wide mobile fifteen wide tablet eleven wide computer column post-list">
		<div class="cards row box">
			{{ $itemsPerPage := (index $.Site.Params "paginate" | default $.Site.Params.itemsPerPage) }}
			{{ $paginator := .Paginate (where .Data.Pages "Type" $.Site.Params.contentType) $itemsPerPage }}
			{{ range $paginator.Pages }}
				{{ .Render "summary" }}
			{{ end }}
		</div>
	</div>
</div>
{{ end }}
