{{/*Title*/}}
{{ define "title" }}
	{{ i18n "allCards" }}
{{ end }}

{{/*Content*/}}
{{ define "content" }}
	{{ partial "nav.html" (dict "context" . "contentType" "cards") }}

	<div class="ui centered grid">
		{{/*Header*/}}
		<div class="sixteen wide mobile fifteen wide tablet four wide computer column">
			{{ partial "header.html" . }}
		</div>

		{{/*Cards*/}}
		<div class="sixteen wide mobile fifteen wide tablet eleven wide computer column post-list">
			<div class="ui inverted segment">
				<h2 class="ui header">{{ i18n "allCards" }}<hr><div class="ui grey sub header">{{ .Content }}</div></h2>
				
				{{ range .Site.RegularPages.GroupByDate "2006" }}
					<h3 class="ui header">{{ .Key }}</h3>
					<ul>
						{{ range .Pages }}
							<li><a href="{{ .Params.link }}" target="_blank">{{ .Title }}</a></li>
						{{ end }}
					</ul>
				{{ end }}
			</div>
		</div>
	</div>
{{ end }}
